<div class="container pt-4">
    <div class="row">
        <div  class="class col-lg-4">
            <img [src]="urlImagen" alt="img_clima" width="400px" height="300px" >
        </div>
        <div class="col lg-6">
            <input type="text" [(ngModel)]="ciudad" placeholder="Ingrese ciudad" class="form-control form-control-lg">
            
            <button *ngIf="ciudad" class="btn btn-primary btn-lg mt-4"  (click)="obtenerClima()">Obtener clima</button>
            <div *ngIf="query" class="card mt-3">
                <div class="card-body">
                    <p><b>Temperatura: </b> {{temperatura | number: '1.2-2'}} °C</p>
                    <p><b>Humedad:</b> {{humedad}}</p>
                    <p><b>Clima: </b>{{clima}}</p>
                </div>
            
        </div>
        </div>
    </div>
</div>